<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>
        myShopingCart
    </title>

</head>
<a href="/#/home">HOME</a><br>
<a href="/#/cart" >CART</a>
<!--<div class="" ng-repeat="p in panier track by $index"><span ng-show="$last">{{p}}</span></div>-->
<!-- <a href="/#/cart" >CART <a href="/#/cart" ng-if="count()>0"> you have <b><span >{{count()}}</span></b> item in cart</a></a> -->
<!-- affichage tab des items -->
<table class="table" style="border-radius: 5px;width: 90%; margin: 0px auto; float: none;">
    <thead>
      <tr>
        <th>Product name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in products">
      <tr>
        <td><a href="#/viewProductDetail/{{item.id}}">{{item.name}}</a></td>
        <td>Ariary {{item.price}}</td>
        <td><img ng-src="images/{{item.picture}}" alt="" style="border: 1px solid #ddd; border-radius: 4px;padding: 5px;width: 200px;"></td>
        <!-- <td><button class="btn btn-primary" ng-click="addItem(item)">Add to Cart</button></td> -->
        <td>{{item.category}}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
